@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap");

:root {
  --max-width: 1100px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

.nav-container {
  position: relative;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 2rem 2rem;
  max-width: var(--max-width);
}

.nav-container ul {
  display: flex;
}

.nav-container ul li a {
  padding: 1rem;
  color: #000;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 2rem 2rem;
  height: 650px;
  max-width: var(--max-width);
}

.hero-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 2rem;
  font-weight: 100;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.hero .about {
  flex-direction: column;
  font-size: 2rem;
  font-weight: 100;
}

.hero .about p {
  padding: 1rem;
}

@media (max-width: 500px) {
  .hero {
    flex-direction: column;
    margin-top: 6.5rem;
  }

  .brand {
    display: none;
  }
}

.btn {
  padding: 20px;
  margin: 5px;
  border: 2px #000 solid;
  text-align: center;
  font-size: 20px;
  border-radius: 3px;
  transition: all 0.6s;
  width: 70%;
  opacity: 0;
}

.btn:hover {
  color: #fff;
  background: #000;
}


#about {
  height: 650px;
  padding-top: 40px;
  background: #ffffff;
}

.columns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
  
  
}

.col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #f0f4f6, #ffffff );
  width: 350px;
  height: 500px;
  padding: 0 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
  transition: all .5s ease-in;
  & p {
    font-size: 20px;
    margin-top: 2rem;
  }
  &:hover {
    transform: scale(1.03);
    background: rgb(240, 4, 95);
    color: #ffffff;
  }
}
.col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 300px;
  padding: 0 20px;
  border-radius: 50px;
  & img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }
  
  & p {
    margin-top: 2rem;
  }
  
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  background: linear-gradient(145deg, #f0f4f6, #ffffff );
  width: 900px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
  transition: all .5s ease-in;
  & p {
    margin-top: 2rem;
  }
  &:hover {
    transform: scale(1.03);
    background: rgb(240, 4, 95);
    color: #ffffff;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    width: 100%;
    & p {
      text-align: center;
    }
  }
  &__img {
    height: 300px;
    width: 450px;
    
  }
  & img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    border-radius: 15px 0 0 15px;
  }
  &__content-links {
    padding: 5px 5px;
    border-bottom: 1px solid rgb(240, 4, 95);
    & a {
      margin-top: 5px;
      cursor: pointer;
      color: #000;
      &:hover {
        color: #fff;
        border-bottom: 1px solid #ffffff;
      }
    }
  }
  &__btn {
    padding: 5px 15px;
  }
}

.work__header {
  text-align: center;
}

.section {
  opacity: 1;
  transition: all .7s ease-in;
  &--hidden {
  opacity: 0;
  transform: translatex(-2rem);
  }
}

#work {
  margin-top: 50px;
  padding-top: 40px;
}

.about-p {
  
  font-size: 150px;
  font-weight: 100;
  margin: 0 25% 0 5%;
  border-bottom: 1px solid #000;
  &--right {
    text-align: end;
    margin: 0 5% 0 25%;
  }
}



.form {
  margin-top: 2rem;
  background: #000;
  width: 100%;
  padding: 5% 30%;
  color: #fff;
}

input[type=text], input[type=email], input[type=submit], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.submit-btn {
  cursor: pointer;
  &:hover {
    background: #ffffff;
  }
}

@media (max-width: 485px){
  .hero {
    padding: 2rem 0;
    margin: 0;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .brand {
    display: none;
  }
  .about-p {
    font-size: 100px;
  }
  .project__img {
    width: 400px
  }
} 

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    width: 100%;
    
  }
  &.hero-header {
      width: 100%;
      margin-bottom: 2rem;
    }
  &.hero-content {
      width: 100%;
    }
    .project{
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .project__content {
    padding: 0 15px;
    & p {
      padding: 0 15px;
    }
  }
  .project__img {

  }
}

@media (max-width: 892px){
  .project{
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .project__content {
    padding: 0 15px;
    & p {
      padding: 0 15px;
    }
  }
}

@media (max-width: 992px) {
  .hero {
    flex-direction: column;
    width: 100%;
    
  }
  &.hero-header {
      width: 100%;
      margin-bottom: 2rem;
    }
  &.hero-content {
      width: 100%;
    }
  
} 